.category{
    width: 200px;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    margin-left: 30px;
    background-color: #fff;
    border: 2px dashed #efb0fa;
    border-radius: 20px;
    }

    .category div{
        width: 200px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: #ce67ed;
        font-weight: 500;
    }

    .category p{
        margin-left: 10px;
    }

    .category li{
        list-style: none;
        padding: 5px;
        cursor: pointer;
    }

    .category li:hover{
        color: #e242fe;
    }

    .selected {
     color: #e842fe;
     border-radius: 5px;
     background-color: #efcaf8;

    
    }
